<ion-view ng-controller="ChatController" title='Chatting as {{nickname}}'>

    <div class="bar bar-subheader">
        <p class="title">{{status_message}}</p>
    </div>

    <ion-content id="chat_bg" class="has-subheader has-footer" delegate-handle="mainScroll"
                 style="margin-bottom: 15px !important;margin-top: 10px !important;">
        <ion-list class="list">
            <li id="msg_bg" ng-repeat="msg in messages"
                ng-class="{'item item-avatar-right item-text-wrap nopadding' :
                 (socketId == msg.socketId) && !msg.isLog ,
                        'item item-avatar-left item-text-wrap nopadding' :
                         (socketId != msg.socketId)&& !msg.isLog,
                         'item item-divider noPadding noBg':msg.isLog}">
                <img ng-hide="msg.isLog" src="{{msg.displayPicture}}" alt=""/>

                <div ng-class="{'bubbleRight': (socketId == msg.socketId) && !msg.isLog ,
                                'bubbleLeft':(socketId != msg.socketId)&& !msg.isLog}">
                    <h2 ng-hide="msg.isLog"><b style="color: {{msg.color}}">{{msg.sender}} :</b></h2>

                    <p ng-hide="msg.isLog" ng-bind-html="msg.message"></p>

                    <p style="text-align: center;color: {{msg.color}}" ng-show="msg.isLog">{{msg.message}}</p>
                </div>
            </li>
        </ion-list>
    </ion-content>

    <form ng-submit="sendMessage()">
        <div class="bar bar-footer item-input-inset footer-item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-android-chat placeholder-icon"></i>
                <input required="true" type="text" placeholder="Enter Your Message .."
                       ng-model="message"
                       ng-change="updateTyping()"/>
            </label>

            <button type="submit" class="button button-dark button-clear ion-android-send icon"
                    ></button>
        </div>
    </form>
</ion-view>